%h1 Hello #{current_name}
%table
  %tr
    %th Name
    %th Price
    %th Owner
    %th Buy
  - for item in items
    - if(item.active)
      %tr
        %td #{item.name}
        %td #{item.price}
        %td
          %a(href='user/#{item.owner}')#{item.owner}
        %td
          %a(href='buy/#{item.owner}/#{item.name}')Buy
