-if error == "credit"
  #error
    Not enough credits
%h1 Hello #{current_name}
%table
  %tr
    %th Name
    %th Price
    %th Owner
    %th Buy
  - for item in items
    - if item.active
      %tr
        %td #{item.name}
        %td.right #{item.price}
        %td.right
          %a(href='/user/#{item.owner}')#{item.owner}
        - if item.owner.name != current_name
          %td.right
            %a(href='/buy/#{item.owner}/#{item.name}')Buy
