- if !user.nil?
  %h1 User #{user.name}
  Credits: #{user.credits}
  %table
    %tr
      %th Name
      %th Price
      %th Active
    - for item in user.items
      - if item.active
        - type = 'active'
      - else
        - type = 'inactive'
      %tr{:id => "#{type}"}
        %td #{item.name}
        %td #{item.price}
        - if item.active
          %td yes
          -if user.name==session[:name]
            %td
              %a{:href => url("/#{item.name}/deactivate")}  Deactivate
        - else
          %td no
          -if user.name==session[:name]
            %td
              %a{:href => url("/#{item.name}/activate")}  Activate